header {
    width: 100%;
    background-color: #183153;
    margin-top: 2px;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

header h1 {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
}

main {
    margin: 0 25px;
}

section {
    text-align: center;
}

section p {
    text-align: left;
    font-size: 16px;
}

.blue {
    color: #183153;
}

.green {
    color: #185328;
}

.red {
    color: #531818;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.lists {
    float: left;
}

li {
    text-align: left;
}